@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

html {
        padding-top: 50px;
        font-family: 'Open Sans', Helvetica, arial, sans-serif;
        text-align: center;
        background-color: #eeeeee;
    }

    i,em,
    b,strong,
    span {
        transition: none;
    }


*:before,
*:after {
    z-index: -1;
}

h1 {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1;
    font-size: 300%;
}

a {
    text-decoration: none;
    line-height: 80px;
    color: black;
}

.centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem
}

@media (min-width: 600px) {
    .wrap {
    width: 50%;
    float: left;
    }
}
.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    }

.button:hover {opacity: 1}
